<div class="card-row">
    <div class="card-col">
        <nb-card accent="info" size="tiny" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="tiny"
            nbSpinnerMessage="">
            <nb-card-header>
                <a [routerLink]="['/admin/books']">
                    <h4>Books<span>&nbsp;<nb-icon icon="book-outline"></nb-icon></span></h4>
                </a>
            </nb-card-header>
            <nb-card-body>
                <p>Total books: <strong>{{nbook}}</strong> </p>
            </nb-card-body>
        </nb-card>

        <nb-card accent="primary" size="tiny" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="tiny"
            nbSpinnerMessage="">
            <nb-card-header>
                <a [routerLink]="['/admin/authors']">
                    <h4>Authors<span>&nbsp;<nb-icon icon="edit-2-outline"></nb-icon></span></h4>
                </a>
            </nb-card-header>
            <nb-card-body>
                <p>Total authors: <strong>{{nauthor}}</strong> </p>
            </nb-card-body>
        </nb-card>

    </div>
    <div class="card-col">
        <nb-card accent="danger" size="tiny" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="tiny"
            nbSpinnerMessage="">
            <nb-card-header>
                <a [routerLink]="['/admin/categories']">
                    <h4>Categories<span>&nbsp;<nb-icon icon="book-open-outline"></nb-icon></span></h4>
                </a>
            </nb-card-header>
            <nb-card-body>
                <p>Total categories: <strong>{{ncat}}</strong></p>
            </nb-card-body>
        </nb-card>

        <nb-card size="tiny" accent='warning' [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="tiny"
            nbSpinnerMessage="">
            <nb-card-header>
                <a [routerLink]="['/admin/users']">
                    <h4>Users<span>&nbsp;<nb-icon icon="person-outline"></nb-icon></span></h4>
                </a>
            </nb-card-header>
            <nb-card-body>
                <p>Total Users: <strong>{{nuser}}</strong></p>
            </nb-card-body>
        </nb-card>
    </div>
</div>